/* Css animation example 1 */
body {
	background: #453d54;
}

.status button {
	background-color: #aa80ff;
	border-radius: 10px;
	color: #fff;
}

.status textarea {
	border: 1px solid #999;
	border-radius: 10px;
	width: 23em;
	height: 1em;
}

.selected {
	animation-name: selectedAnim;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}
.deselected {
	animation-name: selectedAnim;
	animation-duration: 1s;
	animation-direction: reverse;
	animation-fill-mode: forwards;
}

@keyframes selectedAnim {
	from {
		height: 1em;
		background-color: #fff;
	}
	to {
		height: 5em;
		background-color: #ffcfe4;
	}
}

/* Css animation example 2*/
#boxMove {
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-duration: 4s;
}

@keyframes example {
	0% {
		background-color: red;
		left: 0px;
		top: 0px;
	}
	25% {
		background-color: yellow;
		left: 200px;
		top: 0px;
	}
	50% {
		background-color: blue;
		left: 200px;
		top: 200px;
	}
	75% {
		background-color: green;
		left: 0px;
		top: 200px;
	}
	100% {
		background-color: red;
		left: 0px;
		top: 0px;
	}
}

/* Greensock animation 2*/
#nav {
	list-style-type: none;
}
.navitem {
	color: #597aa8;
}
